@media (max-width: 991px) {
  .dog {
    opacity: 0;
  }
}

.container {
  width: 100%;
  margin-bottom: 10vh;

  a {
    text-decoration: none;
    color: #484646;
  }

  .dog {
    width: 50%;
    height: 50%;
  }

  .container__hero {
    position: relative;
    display: flex;
    justify-content: center;

    border: 0.5em solid #eafffb;
    background-color: #fbfffe;
    font-family: 'League Spartan', sans-serif;
    color: #484646;

    .container__hero__button {
      border: none;
      color: #5F5B5B;
      width: 150px;
      height: 30px;
      font-weight: 500;
      font-style: italic;
      font-size: 14px;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      margin-top: 10vh;
      margin-left: 35vw;
      margin-bottom: 20px;
      background-color: #F7D8FA;
      transition: all 300ms ease-in-out;
    }

    .container__hero__button:hover {
      a {
        color: white;
      }

      background-color: #ffacd7;
      transition: all 300ms ease-in-out;
    }

    .container__hero img {
      display: flex;
    }

    .container__hero__text {
      word-wrap: break-word;
      margin-left: 11vw;
      margin-right: 2vw;
    }

    .container__hero__text__info {
      margin-top: 5vh;
      font-size: 1.5em;

    }

    .container__hero__text__header {
      font-size: 3em;
    }

    .container__hero__down {
      img {
        position: absolute;
        top: 79%;
        left: 1%;
      }
    }
  }

  .container__info {
    width: 100%;

    .container__info__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 30px;
      }
    }

    .container__info__header {
      font-family: 'League Spartan', sans-serif;
      font-size: 2em;
      font-style: italic;
      display: flex;
      margin-top: 5vh;
      font-weight: normal;
      margin-right: 30px;
    }

    @media (max-width: 530px) {
      .container__info__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .container__info__wrapper {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }

    .container__info__cards {
      display: flex;
      justify-content: space-between;
    }
  }

}