.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
  width: 30vw;
  background: #EFFFFC;
  border-radius: 10px;
  border: 0.5px solid #40ECD7;
  margin-top: 10vh;

  @media screen and (max-width: 941px) {
    width: 40vw;
  }

  .card__ellipse {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #CCE0FF;
    @media screen and (max-width: 530px) { 
      width: 50px;
      height: 50px;
    }

  }

  .card__ellipse p {
    position: absolute;
    font-family: 'League Spartan', sans-serif;
    top: 20%;
    left: 35%;
    font-size: 2em;
    @media screen and (max-width: 530px) { 
      font-size: 1.5em;
    }
  }

  .card__image {
    margin-top: 2vh;
    width: 45%;
    height: 45%;
  }

  .card__container {
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
  }

  .card__container__header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .card__container__info {
    font-size: 0.8em;
    margin-bottom: 5vh;
  }
}