.card {
  position: relative;
  justify-content: center;
  margin-right: 10vw;
  margin-left: 10vw;
  width: 20vw;
  height: 35vh;
  background: #EFFFFC;
  border-radius: 10px;
  border: 0.5px solid #40ECD7;

  .card__ellipse {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #CCE0FF;
  }

  .card__ellipse p {
    position: absolute;
    font-family: 'League Spartan', sans-serif;
    top: 20%;
    left: 35%;
    font-size: 2em;
  }

  .card__image {
    margin-top: 15%;
    padding-left: 34%;
  }

  .card__container {
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
  }

  .card__container__header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .card__container__info {
    font-size: 0.8em;
  }
}