.footer {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
  background: linear-gradient(#eafffb, #fbfffe);
  font-family: 'League Spartan', sans-serif;
  font-size: 1.2em;
}